.idea
# ignore tap4fun dataset
# /python/xgboost/tap4fun.zip
/python/game_predict/tap4fun_data/*
/python/game_predict/game.txt*
/go/goIntro/*.txt

#*/*.DS_Store
#/.DS_Store
*DS_Store

# ignore data
*.in
*.out
